<div class="container">
  <button class="btn btn-lg btn-primary btn-block" ng-if="!$ctrl.submitted" ngf-select="$ctrl.upload($file)" ngf-accept="'image/*'" ngf-pattern="'image/*'" ngf-max-size="'5MB'" ngf-fix-orientation="true">Upload a photo</button>
  <uib-progressbar ng-if="$ctrl.submitted && $ctrl.progressPercentage < 100" value="$ctrl.progressPercentage"></uib-progressbar>
  <h3 ng-if="$ctrl.msg" class="text-{{$ctrl.msg.class}}">{{$ctrl.msg.text}}</h3>
  <table class="table table-striped" ng-if="$ctrl.submissions.length">
    <thead>
      <tr>
        <th>Image</th>
        <th>Effect</th>
        <th>Submitted At</th>
        <th class="text-right">Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="submission in $ctrl.submissions" ng-class="{'danger':!submission.active}">
        <td>
          <a href="#" ng-click="$ctrl.showImage(submission, 'large')">
            <img ng-src="{{$ctrl.assetPrefix}}{{submission.file.path}}/{{submission.file.versions.thumb}}" class="img-responsive" width="100">
          </a>
        </td>
        <td>
          <a href="#" ng-click="$ctrl.showImage(submission, 'lines')">
            <img ng-src="{{$ctrl.assetPrefix}}{{submission.file.path}}/{{submission.file.versions.linesThumb}}" class="img-responsive" width="100">
          </a>
        </td>
        <td>{{submission.createdAt | date : 'medium'}}</td>
        <td class="text-right">
          <button type="button" class="btn btn-xs btn-danger" ng-click="$ctrl.deleteSubmission(submission)">destroy</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
